{% extends "layouts/app.html" %}

{% block content %}
<h1> Welcome to Index View </h1>
I am in render block

<div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
{% endblock %}
