{% extends "layouts/app.html" %}

{% block content %}
<h1> Welcome {{ fullname }} </h1>

<h2>Vous avez {{points}} points</h2>

<h3>Vos dernières commandes</h3>
{% for commande in commandes %}
{{ commande }}
{% endfor %}

<img src="/static/img/aacsb.jpg" alt="">
<!-- date / prix / détail -->
{% endblock %}
